<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #192a56; color: #fff;">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="header">PERFIL</h1>

  <ion-card class="form-card">
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombres</ion-label>
        <ion-input [(ngModel)]="user.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input [(ngModel)]="user.lastname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="user.email" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">DNI</ion-label>
        <ion-input [(ngModel)]="user.dni"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input [(ngModel)]="user.phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Departamento</ion-label>
        <ion-select [(ngModel)]="user.department_id" (ionChange)="getProvinces()" *ngIf="departments != null">
          <ion-select-option [value]="department.id" *ngFor="let department of departments">{{ department.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Provincia</ion-label>
        <ion-select [(ngModel)]="user.province_id" (ionChange)="getDistricts()" *ngIf="provinces != null">
          <ion-select-option [value]="province.id" *ngFor="let province of provinces">{{ province.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Distrito</ion-label>
        <ion-select [(ngModel)]="user.district_id" *ngIf="districts != null">
          <ion-select-option [value]="district.id" *ngFor="let district of districts">{{ district.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Clave</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Repetir clave</ion-label>
        <ion-input type="password" [(ngModel)]="password_confirmation"></ion-input>
      </ion-item>

      <ion-item>
        <ion-button color="dark"  (click)="clickFileInput('front')">Copia DNI delantera</ion-button>
        <input type="file" style="display: none;" id="add-file-input-front" (change)="showPreview($event, 'front')" accept="file/* | image/* ">
      </ion-item>
      <ion-item *ngIf="user.dni_picture && user.dni_picture !== ''">
        <img [src]="user.dni_picture" style="width: 40%;">
      </ion-item>

      <ion-item>
        <ion-button color="dark"  (click)="clickFileInput('back')">Copia DNI trasera</ion-button>
        <input type="file" style="display: none;" id="add-file-input-back" (change)="showPreview($event, 'back')" accept="file/* | image/* ">
      </ion-item>
      <ion-item *ngIf="user.dni_picture_back && user.dni_picture_back !== ''">
        <img [src]="user.dni_picture_back" style="width: 40%;">
      </ion-item>

      <p class="text-center button-space">
        <ion-button color="dark" (click)="update()">Actualizar</ion-button>
      </p>

    </ion-card-content>
  </ion-card>
</ion-content>
