ion-content{ 
    --background: #192a56; 
}

.form-card{
    overflow-y: auto;
    margin: 0px !important; 
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
    bottom: 0; 
    height: 100%;
}

.header{
    color: #fff; 
    font-weight: bolder; 
    margin-top: 4rem; 
    margin-left: 16px;
}

.text-center{
    text-align: center;
}

.button-space{
    margin-top: 2rem; 
    margin-bottom: 2rem;
}

ion-icon{
    font-size: 26px;
    position: absolute;
    right: 0;
    margin-top: 22px;
}