<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #192a56; color: #fff;">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="header">
      <ion-col size="10"><h1>{{ shipping.tracking }}</h1></ion-col>
      <ion-col size="2">
        <ion-icon style="font-size: 30px; color: #fff; margin-top: 15px;" name="create-outline" (click)="goToEdit(shipping)"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="form-card">
  
    <ion-card-content>
      <h1 class="text-center">Status</h1>

      <ion-list>
        <ion-item *ngFor="let status of shipping.shipping_histories?.slice()?.reverse(); let i = index">
          <ion-label *ngIf="i== 0"><strong >{{ status.shipping_status.name }}</strong></ion-label>
          <ion-label *ngIf="i > 0">{{ status.shipping_status.name }}</ion-label>
          <label>{{ dateFormat(status.created_at) }}</label>
        </ion-item>

      </ion-list>

      <h1 class="text-center">Origen</h1>
      <ion-item>
        <ion-label position="stacked">Dirección</ion-label>
        <ion-input readonly>LycCourier 8301 NW 66th St, Miami, FL 33166, EE. UU.</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Warehouse #</ion-label>
        <ion-input readonly>{{ shipping.warehouse_number }}</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Fecha de creación</ion-label>
        <ion-input readonly>{{ dateFormat(shipping.created_at) }}</ion-input>
      </ion-item>
      <h1 class="text-center">Destino</h1>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input readonly>{{ shipping.client.name }}</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input readonly>{{ shipping.client.email }}</ion-input>
      </ion-item>

      <ion-item *ngIf="shipping.client.province">
        <ion-label position="stacked">Provincia</ion-label>
        <ion-input readonly>{{ shipping.client.province.name }}</ion-input>
      </ion-item>

      <ion-item *ngIf="shipping.client.district">
        <ion-label position="stacked">Distrito</ion-label>
        <ion-input readonly>{{ shipping.client.district.name }}</ion-input>
      </ion-item>

      <ion-item *ngIf="shipping.client.department">
        <ion-label position="stacked">Departamento</ion-label>
        <ion-input readonly>{{ shipping.client.department.name }}</ion-input>
      </ion-item>

      <ion-item *ngIf="shipping.client.address">
        <ion-label position="stacked">Dirección</ion-label>
        <ion-input readonly>{{ shipping.client.address }}</ion-input>
      </ion-item>

   
      <ion-item *ngIf="shipping.shipping_status_id <= 5">
        <p style="text-align: center; width: 100%;">
          <ion-button class="btn btn-dark" (click)="confirm()">Actualizar</ion-button>
        </p>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>
